{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/react",
    "prettier/standard",
    "prettier/unicorn"
  ],
  "plugins": ["react", "prettier", "standard", "unicorn"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/display-name": "off",
    "react/prop-types": "off",
    "import/extensions": [0, "never", { "ts": "never" }],
    "no-unused-expressions": "off"
  },
  "globals": {
    "describe": true,
    "test": true,
    "expect": true,
    "it": true,
    "cy": true,
    "beforeEach": true,
    "context": true,
    "jest": true,
    "fetch": true
  }
}
